<?php
/** @var Template $block */

use Rltsquare\Task\Block\Template;

?>


<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 30px;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .entity_id {
        width: 2%
    }

    .tasks_name {
        width: 30%
    }

</style>

<table>
    <tr>

        <th class="entity-id">Id</th>
        <th class="tasks-name">Tasks Name</th>
        <th class="description">Description</th>
        <th class="estimate_hours">Estimate Time</th>
        <th class="assignee_name">Assgined User</th>
        <th class="status_boolean">Status</th>

    </tr>
    <?php
    $data = $this->getPostCollection();
    foreach ($data as $post):{
        echo '<tr>
                    <td>' . $post->getEntityId() . '</td>
                    <td>' . $post->getTasksName() . '</td>
                    <td>' . $post->getDescription() . '</td>
                    <td>' . $post->getEstimateHours() . '</td>
                    <td>' . $post->getAssigneeName() . '</td>
                    <td>' . $post->getStatusBoolean() . '</td>
                  </tr>';
    } endforeach;
    ?>

</table>
</body>
</html>
