<?php
/** @var GetList $block */

use Rltsquare\Task\Block\RLTEmployee\GetList;

$list = $block->getEmployeeList();
?>

<?php foreach ($list as $item): ?>
    <div id="<?= $block->escapeHtmlAttr($item->getEntityId()) ?>">
        <p><?= $block->escapeHtml(__('Name: ') . $item->getEmployeeName()) ?></p>
        <p><?= $block->escapeHtml(__('Email: ') . $item->getEmployeeEmail()) ?></p>
        <p><?= $block->escapeHtml(__('Designation: ') . $item->getEmployeeDesignation()) ?></p>
        <br/>
    </div>
<?php endforeach; ?>
