<?php
/** @var RegistrationForm $block */
/** @var Escaper $escaper */

use Magento\Framework\Escaper;
use Rltsquare\Task\Block\RLTEmployee\RegistrationForm;

?>

<div class="rlt-employee-registration-form-main-container">
    <div class="text-section-container">
        <span data-bind="i18n: 'Please fill up the form'"></span>
    </div>
    <div class="form-section">
        <form autocomplete="off" action="<?= $escaper->escapeUrl($block->getSubmitFormUrl()) ?>" class="add-doctor-form" method="post" data-hasrequired="<?= __('* Required Fields') ?>" data-mage-init='{"validation":{}}'>
            <div class="form-content">
                <fieldset class="fieldset">
                    <div class="field required">
                        <label for="employee_name" class="label"><?= $escaper->escapeHtml(__('Employee Name')) ?></label>
                        <div class="control">
                            <input name="employee_name" type="text" data-validate="{required:true,minlength:2}"/>
                        </div>
                    </div>
                    <div class="field required">
                        <label for="employee_email" class="label"><?= $escaper->escapeHtml(__('Employee Email')) ?></label>
                        <div class="control">
                            <input name="employee_email" type="email" data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="field required">
                        <label for="employee_designation" class="label"><?= $escaper->escapeHtml(__('Employee Designation')) ?></label>
                        <div class="control">
                            <input name="employee_designation" type="text" data-validate="{required:true,minlength:2}"/>
                        </div>
                    </div>
                    <div class="field required">
                        <label for="employee_status" class="label"><?= $escaper->escapeHtml(__('Employee Status')) ?></label>
                        <div class="control">
                            <input name="employee_status" type="boolean" data-validate="{required:true,minlength:1}"/>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <input type="hidden" name="hideit" id="hideit" value=""/>
                        <button type="submit" title="Submit" class="action submit primary">
                            <span data-bind="i18n: 'Submit Form'"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
