<?php

/**
 * @var Magento\Catalog\Block\Product\View $block
 */
$product = $block->getProduct();
$attrData = $product->getData('Brand');
$blockTitle = $this->getData('title');
if (trim($attrData) !== "") : ?>
    <div class="product-full-width-section">
        <h2 class="product-section-title"><?= $blockTitle; ?></h2>
        <?php echo $attrData; ?>
    </div>
<?php endif; ?>
